.qty-dropdown {
  max-width: 400px;
}
.trash-button {
  background-color: white;
  border: 1px solid gray;
  width: 2rem;
  height: 2rem;
}

.receipt-container {
  border: 1px solid gray;
  padding: 32px 24px;
}
.receipt-list {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid black;
}

.receipt-list li {
  padding-bottom: 10px;
}

.receipt-title {
  margin-bottom: 20px;
}

.payment-button {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
}
.text-align-center {
  text-align: center;
}
.empty-bag {
  background-color: white;
  padding: 20px;
}

.product-card-cart {
  padding: 10px;
  display: flex;
  gap: 1rem;
}

.product-card-cart__img-box {
  position: relative;
  width: 8rem;
  aspect-ratio: 2/3;
  flex-shrink: 0;
}

.product-card-cart__img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card-cart__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-card-cart__content h3 {
  font-size: 1.2em;
  margin: 0;
}

.product-card-cart__content a {
  color: black;
  background-color: white;
  border: 1px solid gray;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.product-card-cart__header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.product-card-cart__header__btns {
  display: flex;
  gap: 0.5rem;
}

.product-card-cart__total {
  margin-top: auto;
}

@media (max-width: 575px) {
  .product-card-cart {
    flex-direction: column;
  }
}

@media (max-width: 1008px) {
  .product-card-cart__header {
    flex-direction: column-reverse;
    align-items: start;
  }
  .product-card-cart__header__btns {
    order: 1;
  }
}
